<html>
<head>
	<title>Food Course</title>
	<!-- Bootstrap Core CSS -->
	<link href="http://localhost:8888/food_course/assets/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="http://localhost:8888/food_course/assets/css/sb-admin.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="http://localhost:8888/food_course/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<!-- Header -->


<body>
