{{> header }}

<div class="row">

	<div class="well">
        <h4>Password Reset</h4>
        <p>Please click the following link to reset you password.</p>
        <p>Thank you</p>
        <p>Vschool</p>

        <a href="{{{link}}}" class="btn btn-lg btn-success btn-block">Click</a>
    </div>
	
</div>

{{>footer}}