{{> header }}

	<div class="container forgetPassword">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-body">
					{{#reError}}
						<div class="alert alert-danger">
							Password not matching. Please try again.
						</div>
					{{/reError}}
					{{#error}}
						<div class="alert alert-danger">
							{{error}}
						</div>
					{{/error}}
					{{^error}}
						<form role="form" action="/food_course/forgetPassword/rePassword">
							<fieldset>
								<input name="user" type="text" style="display:none;" value="{{user}}"></input>
								<div class="form-group">
									<label>Password</label>
									<input class="form-control" name="password" type="password" autofocus>
								</div>
								<div class="form-group">
									<label>Re-Password</label>
									<input class="form-control" name="repassword" type="password" autofocus>
								</div>
								<button class="btn btn-lg btn-success btn-block">Submit</button>
							</fieldset>
						</form>
					{{/error}}
					</div>
				</div>
			</div>
		</div>
	</div>

{{> footer}}
