<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class Menu extends Base_Controller {

	protected $table = 'Menu';

	function __construct()
	{
		parent::__construct();
	}

	public function index()
	{	
		var_dump("hello"); exit;
	}
}
