{{> header }}

{{> nav_bar}}

<div id="page-wrapper">

	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					Upload Multiple Images
				</h1>
			</div>
		</div>
		<div class="col-xs-12 upload-multi-images">
			<input type="file" name="file_upload" id="file_upload" />
		</div>

	</div>
	<!-- /.container-fluid -->

</div>

</div>

{{> footer}}